/*  your css code here. If applicable */
body{
    background-color: #ccc;
}
h1{
    text-align: center;
}
.player_one{
    background-color: white;
    border: 1px solid grey;
    padding: 10px;
    
}
a{
    color: black;
    text-decoration: none;
    background-color: white;
}
h3{
    text-align: center;
}
ul{
	list-style-type:none;
}
.player_two{
   
    background-color: white;
    border: 1px solid #CCCCCC;
    padding:10px;
   width:320px;
    
}
div h3{
    text-align: center;
}
div audio{
    padding-left: 10px;
}
p{
    padding-left: 20px;
}